@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Zen+Dots&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
}
.form {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  display: flex;
  flex-direction: column;
}
.label {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
input {
  padding: 12px 20px;
  border-radius: 6px;
}
input:focus-visible {
  outline: none !important;
}
#submit {
  padding: 14px 30px;
  background-color: rgb(17, 156, 255);
  font-size: 1rem;
  font-weight: 700;
  border: 0px solid;
  color: white;
  border-radius: 8px;
  margin-top: 12px;
  cursor: pointer;
}
